@import "tailwindcss";

@theme {
  --color-primary: #00ff9d;
  --color-bg-dark: #0f172a;
  --color-bg-panel: #1e293b;
  --color-text-light: #f8fafc;
  --color-text-muted: #94a3b8;
  --color-danger: #ef4444;
  --color-warning: #f59e0b;
}

body {
  @apply bg-[#0f172a] text-[#f8fafc] font-sans m-0 overflow-hidden;
}
